[Unit]
Description=JFrog Artifactory
After=network.target

[Service]
Type=forking
User=artifact
Group=artifact
ExecStart=/opt/artifactory-oss-7.21.5/app/bin/artifactoryManage.sh start
ExecStop=/opt/artifactory-oss-7.21.5/app/bin/artifactoryManage.sh stop
LimitNOFILE=100000
TimeoutSec=300
Restart=on-failure
SyslogIdentifier=artifactory

[Install]
WantedBy=multi-user.target
