[Unit]
Description=Artifactory service
After=network.target

[Service]
User=artifactory
Type=forking
GuessMainPID=yes
Restart=always
RestartSec=60
PIDFile=/var/run/artifactory.pid
ExecStart=/opt/artifactory-oss-7.21.5/app/bin/artifactoryManage.sh start
ExecStop=/opt/artifactory-oss-7.21.5/app/bin/artifactoryManage.sh stop

[Install]
WantedBy=multi-user.target
Alias=artifactory.service

