[Unit]
Description=grafana

[Service]
User=expense
ExecStart=/usr/lib/systemd/system/grafana-server.service
SyslogIdentifier=grafana

[Install]
WantedBy=default.target

