[Unit]
Description=Sonarqube

[Service]
User=sonarq
Type=forking
ExecStart=/opt/sonarqube-10.5.1.90531/bin/linux-x86-64/sonar.sh start
SystemlogIdentifier=sonarqube
[Install]
WantedBy=default.target