[Unit]
Description=prometheus

[Service]

User=expense
WorkingDirectory=/opt/prometheus-2.53.4.linux-amd64
ExecStart=/opt/prometheus-2.53.4.linux-amd64/prometheus
SyslogIdentifier=prometheus

[Install]
WantedBy=default.target

