[Unit]
Description=Prometheus

[Service]

User=expense
Type=forking
WorkingDirectory=/opt/prometheus-2.53.4.linux-amd64
ExecStart=/opt/prometheus-2.53.4.linux-amd64/prometheus
SystemlogIdentifier=prometheus

[Install]
WantedBy=default.target